*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
   

}
nav{
  
    background-color: #FFFFFF;
  
}
.nav-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list ul{

 display: flex;
 list-style: none;
 gap: 32px;

}
.btn{
    width: 164px;
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border-radius: 4px;
}
.nav-contents img{
    margin-top: 21px;
    margin-bottom: 20px;
}
/* Banner-design */
#banner{
    
    max-width: 1600px;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
    min-height: 540px;
    
    



}
.banner-contents{


text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
margin: 120px auto;


}

    
   


#note{
  display: inline-flex;
  align-items: center;
  padding: 6px 14px;
  border-radius: 60px;
  color: #22c55e;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16x;
  max-width: max-content;
  
}
.text{
    max-width: 770px;
    text-align: center;
}
#color{
    color: #30B868;

}
.text-box{
    font-size: 18px;
   
    max-width: 700px;
    line-height: 24px;
    margin-bottom: 32px;
}
.btn1{
    background-color: #30B868;
    color: white;
    padding: 15px;
    
}
.btn2{
    background-color: transparent;
    color: white;
    padding: 15px;
    margin-left: 16px;
}
#logo{
    font-size: 10px;
    margin-right: 6px;
    opacity: 0.5;
}
button{
    cursor: pointer;
}